<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <label for="title">Judul</label>
            <input type="text" class="form-control {error('title') ? 'is-invalid' : ''}" name="title" id="title" value="{old('title')}">
            <small>{error('title')}</small>
        </div>

        <button type="submit">submit</button>
    </form>
</body>
</html>
