<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth | {config('app.name')}</title>
    <link rel="stylesheet" href="/assets/css/template.min.css">
</head>
<body>
    <div class="preloader">
        <img src="/assets/img/preloader.svg" alt="loader" class="lds-ripple img-fluid">
    </div>

    <!-- Preloader -->
    <div class="preloader">
        <img src="/assets/img/preloader.svg" alt="loader" class="lds-ripple img-fluid">
    </div>

    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block mb-5 w-100">
                                    <img src="/assets/img/logo.svg" width="150" alt="">
                                </a>
                                {block content}{/block}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/simplebar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/template.js"></script>
    <script src="/assets/js/template.init.js"></script>
    <script src="/assets/js/template.custom.js"></script>
    {block script}{/block}
</body>
</html>
